@import url('./styles/index/header.css');
@import url('./styles/index/nav.css');
@import url('./styles/index/container.css');
@import url('./styles/index/footer.css');
@import url('./styles/index/animations.css');
@import url('./styles/index/responsive.css');

@import url('./styles/login/login.css');
@import url('./styles/profile/profile.css');

:root {
    --primary-color: #007bff;
    --primary-color-light: #2d9ef4;
    --secondary-color: #ffffff;
    --primary-text-color: #ffffff;
    --secondary-text-color: #000000;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.material-icons {
    color: var(--primary-text-color)
}